 #topbar {
    background-color: #261DDF;
    width: 100%;
    height: 45px;
    color: white;
    font-family: verdana, helvetica, arail, sans-serif;
}
        
#topbar img {
    opacity: 0.5;
}
        
body {
        margin: 0;
 }
        
.fixedwidth {
    width: 1100px;
    margin: 0 auto;
}
        
#logodiv {
    padding-top: 5px;
    padding-bottom: 2px;
    float: left;
    border-right: 1px solid #92BBF8;
    padding-right: 15px;
    font-family: fantasy,sans-serif;
    }
#signindiv {
    font-weight: bold;
    font-size: 0.9em;
    padding: 6px 80px 2px 20px;
    float: left;
    border-right: 1px solid #92BBF8;
}
#signindiv img {
    position: relative;
    top: 3px;
}

#signindiv p {
    float: right;
    margin: 10px 0 10px 15px;
}
        
#topmenudiv {
    float: left;
}
#topmenudiv ul {
    margin: 0;
    padding: 0;
}
        
#topmenudiv li {
    list-style: none;
    font-weight: bold;
    font-size: 0.8em;
    border-right: 1px solid #92BBF8;
    padding: 10px 20px 19px 20px;
    float: left;
}
        
#searchdiv {
    float: left;
    padding: 10px 0px 0px 10px;
            
}
        
#searchdiv input {
    height: 20px;
    border: none;
    font-size: 0.9em;
    padding-left: 10px;
    background-image: url("Images/search.png");
     background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
}
        
       #bottombar {
            background-color: #92BBF8;
            width: 100%;
            height: 85px;
            color: white;
            font-family: verdana, helvetica, arail, sans-serif;
       }
        .break {
            clear: both;
        }
        
        #bottombar p {
            margin: 0;
            padding: 0;
            padding-top: 15px;
            float: left;
        }
        
        #updateheader {
            font-size: 2.5em;
        }
        
        #rss {
            float: right;
            margin-top: 30px;
        }
        #rss img {
            padding-top: 10px;
        }
        
        #topicmenu {
         
         }
        
        #topicmenu ul{
            background-color: #2D5986;
            padding: 5px 0 0 5px;
            margin: 0;
            height: 17px;
        }
        
        #topicmenu li {
            list-style: none;
            border-right: 1px solid #2D5986;
            padding: 0 5px 0 5px;
            float: left;
            font-weight: bold;
            font-size: 0.8em;

        }
        
        .select {
            Background-color: #B0ADAD;
            height: 22px;
            position: relative;
            top: -5px;
        }
        
        #content {
            width: 100%;
            color: #535353;
            font-family: verdana, helvetica, arail, sans-serif;
            font-size: 0.8em;
            
        }
        
        .date {
            font-weight: bold;
        }
        
        h1 {
            color: #1F4F82;
            font-size: 2em;
        }
        
        #headlineimg {
            float: left;
            height: 300px;
            width:  400px;
        }
        
        .textitem {
            position: relative;
            left: 10px;
            top: -10px;
            width: 250px;
            float: left;
            font-size: 0.9em;
        }
        #topicmenu a {
            text-decoration: none;
        }
        
        #topicmenu a:hover {
            font-style: italic;
            text-decoration: underline;
        }
        #topicmenu a:visited{
            color: white;
            text-decoration: none;
        }
        
        .logo {
            background-image: url("Images/twoknights.jpg");
            background-repeat: no-repeat;
            background-position: left center;
            background-size: contain;
            padding-left: 20px;
        }
        
        .links {
            line-height: 1.1em;
        }
        
        #watchlisten {
            background-color: lightgrey;
            float: right;
            width: 368px;
            position: relative;
            top: -50px;
            right: 70px;
            border-right: 1px solid white;
        }
        
        h2 {
            color: #505050;
            margin: 10px 0 10px 10px;
            font-size: 1.3em;
        }
        
        .boxes {
            float: right;
            margin: 16px 10px 0 0;
        }
        
        .leftarrow {
            float: left;
            border-right: 1px solid white;
        }
        
        .wlblock {
            float: left;
            background-color: orange;
            width: 157px;
            
        }
        
        .rightarrow {
            float: right;
            border-left: 1px solid white;
        }
        
        .wlblock a {
            color: white;
            text-decoration: none;
        }
        
        .wlblock a:hover {
            text-decoration: underline;
        }
        
        .wlblock p {
            margin: 19px 10px 10px 10px;
        }
        
        .wlblock img {
            height: 89px;
            width: 157px;
        }
        a {
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
        
        #watchlisten ul {
            margin: 0;
            padding: 10px;
            
        }
        
        #watchlisten li {
            list-style: none;
            background-image: url("Images/live.jpg");
            background-repeat: no-repeat;
            background-position: left center;
            padding: 10px 0 10px 34px;
            font-size: 1.2em;
        }